@CHARSET "UTF-8";

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype')
}

@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype')
}

* {
	box-sizing: border-box;
}

html, body {
	flex-flow: column;
  	display: flex;
  	height: 100%;
  	background: rgb(255, 253, 254);
  	font-family: 'Roboto-Light', Fallback, sans-serif;
  	font-size: 16px;
}

div {
	display: block;
}

#header {
	flex: 0 0 auto;
	padding-top: 10px;	
  	padding-left: 0px;
  	padding-right: 0px;
}

#banner-text {
	padding-left: 30px;
  	padding-right: 30px;
  	padding-bottom: 10px;  	
}

#main-menu {
	border-top-color: red;
	border-bottom-color: red;
}

@media (max-width: 767px) {
	.sm-mint li {
		border-top: 1px solid rgba(255, 0, 0, 0.2);
	}
	
	.sm-mint ul {
	    background: rgba(134, 152, 170, 0.08);
	}
	
	.sm-mint a span.sub-arrow {
		background: rgba(255, 0, 0, 0.4);		
	}
}

@media (min-width: 768px) {
	.sm-mint > li:first-child {
	    margin-left: 10px;
	}	
	
	.sm-mint a span.sub-arrow {
	    border-color: red transparent transparent transparent;
	}
	
	.sm-mint a:hover {
	    background: rgb(54, 72, 90);
	}
	
	.sm-mint a.highlighted span.sub-arrow {
	    border-color: rgb(255, 251, 253) transparent transparent transparent;
	}
	
	.sm-mint a.has-submenu.highlighted {
	    color: rgb(255, 251, 253);
	    background: rgb(54, 72, 90);
	}
	
	.sm-mint ul {
		color: rgb(255, 251, 253);
		background: rgb(54, 72, 90);
	}
	
	.sm-mint .sm-nowrap > li > a {
	    color: rgb(255, 251, 253);
	}

	.sm-mint .sm-nowrap > li > a:hover {
	    background: rgb(94, 112, 130);
	    color: rgb(255, 251, 253);
	}	
	
	.sm-mint ul a span.sub-arrow {
		border-color: transparent transparent transparent red;
	}
}

#content {
	flex: 1 1 auto;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
  	padding-right: 30px;
}

#footer {
	flex: 0 1 200px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
  	padding-right: 30px;
	background: rgb(34, 52, 70);
	color: rgb(255, 251, 253);
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: red;
}