@CHARSET "UTF-8";

#main-menu {
	border-top-color: red;
	border-bottom-style: none;
}

@media (max-width: 767px) {
	.sm-mint li {
		border-top: 1px solid rgba(255, 0, 0, 0.2);
	}
	
	.sm-mint ul {
	    background: rgba(134, 152, 170, 0.08);
	}
	
	.sm-mint a span.sub-arrow {
		background: rgba(255, 0, 0, 0.4);		
	}
}

@media (min-width: 768px) {
	.sm-mint > li:first-child {
	    margin-left: 10px;
	}	
	
	.sm-mint a span.sub-arrow {
	    border-color: red transparent transparent transparent;
	}
	
	.sm-mint a:hover {
	    background: rgb(54, 72, 90);
	}
	
	.sm-mint a.highlighted span.sub-arrow {
	    border-color: rgb(255, 251, 253) transparent transparent transparent;
	}
	
	.sm-mint a.has-submenu.highlighted {
	    color: rgb(255, 251, 253);
	    background: rgb(54, 72, 90);
	}
	
	.sm-mint ul {
		color: rgb(255, 251, 253);
		background: rgb(54, 72, 90);
	}
	
	.sm-mint .sm-nowrap > li > a {
	    color: rgb(255, 251, 253);
	}

	.sm-mint .sm-nowrap > li > a:hover {
	    background: rgb(94, 112, 130);
	    color: rgb(255, 251, 253);
	}	
	
	.sm-mint ul a span.sub-arrow {
		border-color: transparent transparent transparent red;
	}
}